*{
    margin: 0;
    padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap");
@font-face {
  font-family: Nunito;
  src: url("./assets/fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: Nunito-Bold;
  src: url("./assets/fonts/Nunito-Bold.ttf");
}

@font-face {
  font-family: Nunito-ExtraBold;
  src: url("./assets/fonts/Nunito-ExtraBold.ttf");
}

body{
    font-family: Nunito;
    background-color: darkgrey; 
}

canvas{
  position: absolute;
  top: 30px;
  left: calc(50% - 496px);
}

#menu {
  width : 993px;
  height : 530px;
  background: url("./assets/images/background/Menu-Page\ bg.png");
  margin: 30px auto ;
  position: relative;
}
.button {
  font-family: Nunito-ExtraBold;
  color: #666666;
  height: 55px;
  padding: 0 30px;
  background-color: #ffffff;
  font-size: 30px;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  border-radius: 15px;
  border-left: 4px solid #000000;
  border-right: 4px solid #000000;
  cursor: pointer;
}
.button:hover {
  color: #ff6600;
}
#play {
  position: absolute;
  bottom: 20px;
  right: 30%;
}
#level {
  position: absolute;
  bottom: 20px;
  right: 5%;
}