.btn {
    font-weight: 600;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    //   default button is medium sized
    padding: 16px 32px;
    //   small sized button
    &.small {
      min-width: 108px;
      padding: 12px 24px;
      line-height: 20px;
      background-color:rgba(255, 255, 255, 0.10) ;
      color: white;
    }
    //  big sized button
    &.big {
      min-width: 237px;
      padding: 16px 24px;
      line-height:normal ;
      &--sd{
        min-width: 160px;
        padding: 16px 24px;
        background: transparent;
        color: white;
        border: 1px solid $fade-white;
        @media screen and (575px<= width <= 768px) {
          min-width: 50%;
          max-height: 53px;
          padding: 16px 0px;
        }
        @media screen and (width < 575px) {
          min-width: 221px;
        }
        
      }
      @media screen and (575px<=width <= 768px) {
        min-width: 50%;
        max-height: 53px;
        padding: 0px 0px;
      }
      
    }
  }
  