@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

body{
    background: #343541;
    font-family: "Montserrat", sans-serif;
    color: white;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
    // list-style: none;
  }

  ul{
    list-style: none;
  }