<nav class="navbar navbar-light bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand">DogAdoption</a>
      <ul class="nav nav-pills">
        <!-- Home Tab -->
        <li class="nav-item active">
          <a class="nav-link" id="nav-home" href="/src/views/LandingPage/">Home</a>
        </li>
        <!--Donate Dog-->
        <li class="nav-item">
          <a class="nav-link" id="nav-donatedog" href="/src/views/DonateDog/">Donate</a>
        </li>
         <!-- Requests Tab -->
        <li class="nav-item">
          <a class="nav-link" id="nav-requests" href="/src/views/Request/">Requests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-mydog" href="/src/views/MyDog/">MyDog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" id="btn-logout" href="#"><i class="fa-solid fa-sign-out"></i>Logout</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" id="nav-login" href="/src/views/Login/">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-signup" href="/src/views/Register/">SignUp</a>
        </li>
        <!-- <li class="nav-item me-3 me-lg-0 dropdown" id="profile-dropdown">
            <a
              data-mdb-dropdown-init
              class="nav-link dropdown-toggle"
              id="nav-dropdown"
              role="button"
              aria-expanded="false"
            >
              <i class="fas fa-user"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" id="dropdown-container">
              <li class="nav-item">
                <a class="nav-link text-dark" id="nav-profile" href="/views/profile/"
                  ><i class="fa-solid fa-user"></i>
                  Profile</a
                >
              
              </li>
            </ul>
          </li> -->

      </ul>

      <!-- <form class="d-flex input-group w-auto">
        <input
          type="search"
          class="form-control rounded"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="search-addon"
        />
        <span class="input-group-text border-0" id="search-addon">
          <i class="fas fa-search"></i>
        </span>
      </form> -->
    </div>
  </nav>