<nav class="navbar navbar-light bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand">DogAdoption</a>
      <ul class="nav nav-pills">
        <!-- Home Tab -->
        <li class="nav-item active">
          <a class="nav-link" id="nav-home" href="/src/views/LandingPage/">Home</a>
        </li>
        <!--Donate Dog-->
        <li class="nav-item">
          <a class="nav-link" id="nav-donatedog" href="/src/views/DonateDog/">Donate</a>
        </li>
         <!-- Requests Tab -->
        <li class="nav-item">
          <a class="nav-link" id="nav-requests" href="/src/views/Request/">Requests</a>
        </li>
        <!--MyDog Tab-->
        <li class="nav-item">
          <a class="nav-link" id="nav-mydog" href="/src/views/MyDog/">MyDog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" id="btn-logout" href="#"><i class="fa-solid fa-sign-out"></i>Logout</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" id="nav-login" href="/src/views/Login/">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-signup" href="/src/views/Register/">SignUp</a>
        </li>
      </ul>
    </div>
  </nav>